*{
    box-sizing: bodrder-box;
}

body {
    font-family: Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

section img{
    width: 100%;
    max-width: 300px;
}

header{
    border-bottom: 1px solid gray;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    width: 100%;
}

header li{
    display: inline-block;
    margin-right: 3em;
    padding-right: 300px;
}

header li a:hover{
    color: #99a0d0;
    font-weight: lighter;
    text-transform: uppercase;
}

header ul{
    text-align: center;
    text-shadow: rgb(109, 88, 88) 0.1em 0.1em 0.2em;
}

#contato{
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}

#contato li{
    display: inline-block;
}

#contato li a{
    display: inline-block;
    margin: 1em;
    width: 64px;
    height: 64px;
    text-indent: -9999px;
}

#contato .email{
    background-image: url("../Imagens/email.png"); 
}

#contato .instagram{
    background-image: url("../Imagens/instagram.png"); 
}

#contato .facebook{
    background-image: url("../Imagens/facebook.png"); 
}

#contato .linkedin{
    background-image: url("../Imagens/linkedin.png"); 
}

#contato .github{
    background-image: url("../Imagens/github.png"); 
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}

section{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align:center;
}

.identificacao {
    color: #fff;
    padding: 10em 2em 7em;
    background-image: url("../Imagens/landscapeBG.png");
    text-shadow: black 0.1em 0.1em 0.2em;
}

.identificacao h1{
    font-size: 2.5em;
    margin-bottom: 0.7em;
}

.identificacao h2{
    font-size: 1.5em;
    font-weight: lighter;
}

section h3{
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

header li a{
    color:#99A0B0;
    font-weight: lighter;
}

.escuras {
    background-color: #2B313E;
    color: #fcfcfd;
}

.claras {
    background-color: rgb(255, 255, 255);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.projetos-header{
    float: left;
    width: 30%;
}

.projetos-header h3{
    margin-top: 1em;
}

.styleprojetos{
    margin-left: 30%;
}

.styleprojetos li{
    background-color: #6F768B;
    padding: 1em;
    margin-bottom: 2em;
}

.styleprojetos li a{ 
    color: #ffffff;
    font-size: 1.3em;
}

.styleprojetos li p{
    color: #fff;
    margin-top: 0.5em;
    text-align: justify;
    line-height: 1.2;
}

#galeria h1{
    font-family: 'monospace';
    font-size: 40px;
    color: black;
    text-shadow: gray 0.1em 0.1em 0.2em;
}

#galeria ul{
    width: 880;
    list-style: none;
    display: flex;
    padding:100px 200px 100px 27%;
    
}

#galeria .min{
    width: 200px;
    padding: 10px;

}

#galeria .lbox{
    visibility: hidden;
    opacity: 0;
}

#galeria .lbox{
    width: 0;
    height: 0;
}

#galeria{
    height: 700px;
}

#galeria .lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background: rgba(10,10,10,.7);
    position: fixed;
}

#galeria .box_img{
    width: 1000px;
    padding:150px 200px 150px 27%;
}

#galeria .box_img img{
    opacity: 0;
}

#galeria .lbox:target .box_img img{
opacity: 1;
transition: opacity .4s linear;
}

#galeria .btn{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#galeria #prev{
    left: 5%;
    top: 45%;
}

#galeria #next{
    right: 5%;
    top: 45%;
}

#galeria #close{
    right: 2%;
    top: 0;
}

#sobre p.bio{
    color: #579ff0;
    font-size: 1.5em;
    margin: 1em;
    width: 50%;
}

#sobre p.text{
    margin: 1em;
    width: 50%;
    text-align: justify;
    line-height:1.4;
}


#sobre img{
    width: 200px;
    position: unset;
    top: 2em;
    right: 10%;
}

footer{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}